<!-- views/profile.ejs -->
<!doctype html>
<html>
<head>
    <title>Node Authentication</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <style>
        body        { padding-top:80px; word-wrap:break-word; }
    </style>
</head>
<body>
<div class="container">

    <div class="page-header text-center">
        <h1><span class="fa fa-anchor"></span> Profile Page</h1>
        <a href="/logout" class="btn btn-default btn-sm">Logout</a>
    </div>

    <div class="row">

        <!-- FACEBOOK INFORMATION -->
        <div class="col-sm-6">
            <div class="well">
                <% if(flag == false){%>
                    <h3 class="text-primary"><span class="fa fa-facebook"></span> Facebook</h3>

                
                    <p>
                        <strong>id</strong>: <%= user.uid %><br>
                        <strong>token</strong>: <%= user.token %><br>
                        <strong>email</strong>: <%= user.email %><br>
                        <strong>name</strong>: <%= user.name %><br>
                        <strong>gender</strong>: <%= user.gender %><br>
                        <img src="<%=user.pic%>" width="200" height="200" alt="">
    
                    </p>
                <% }else if(flag== true){ %>
                    <h3 class="text-primary"><span class="fa fa-facebook"></span> Google</h3>
                    <p>
                        <strong>email</strong>: <%= email %><br>
                        <strong>name</strong>: <%= name %><br>
                        <strong>pic</strong>: <img src="<%=pic%>" width="100" height="100" alt="">
                    </p>

                <% } %>
               

            </div>
        </div>

    </div>

</div>
</body>
</html>